
body{font-family: "Century Gothic";}

.widget-title h4{color: #fff !important;}
.form-control{padding: 2px;  border-radius:1px; font-size: 11px;}
.form-group {margin-top: 5px; margin-bottom: 10px;}

.form-group label{width: 100%; font-weight:bold; font-size: 11px; }
/* Adjusted 08202018
.form-group input[type=text]{ padding: 2px; font-size: 11px;  border: 1px solid #e2e2e2; background-color: #fffcc9;} */
.form-group input[type=text]{ height:28px !important;padding: 5px; font-size: 11px;  border: 1px solid #e2e2e2; background-color: #fffcc9;}
/* Adjusted 08202018
.form-group input[type=date]{ padding: 2px;  line-height: 10px; font-size: 11px;  border: 1px solid #e2e2e2;  background-color:#fffcc9;} */
.form-group input[type=date]{ height:28px !important;padding: 5px; line-height: 10px; font-size: 11px;  border: 1px solid #e2e2e2;  background-color:#fffcc9;}
/* Adjusted 08202018
.form-group select{padding: 2px; font-size: 11px;  border: 1px solid #e2e2e2;  background-color:#fffcc9;} */
.form-group select{ height:28px !important;padding: 5px; font-size: 11px;  border: 1px solid #e2e2e2;  background-color:#fffcc9;}
.form-group textarea{ padding: 2px; font-size: 11px; margin-bottom: 2px; border: 1px solid #e2e2e2;  background-color:#fffcc9;}

.additem { padding: 5px; margin-top: 5px; margin-right:30px; font-size:8px !important;}
.alert{display:none;}
.dialog{display:none;   background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.addnew{font-size:10px; padding: 0px; margin-top: 1px;}

/*
.modal-dialog{border-radius:0px; font-family: "Century Gothic";}
.modal-header{padding: 10px; border-radius:0px;}
.modal-body{padding: 20px;}
.modal-dialog input[type=text]{width: 100%; text-align:center;padding: 5px;}
*/

.modal {
	text-align: center;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.10); /* Black w/ opacity */
}

.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }

.modal-content {width: 60%;height: 70%;padding: 0;margin: 0 auto;border: none;outline: none;line-height: 0;vertical-align: top;}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 50%;
    }
}

#leadsel{height: 1px; padding: 2px;}
#responsive-datatable{font-size:12px; padding:10px; margin: 0 auto;}
#responsive-datatable .btn{font-size:12px; padding: 2px; height:30px; border: 1px solid #e2e2e2;}
#responsive-datatable.thead th{padding: 2px; text-align: center;  font-size:11px !important;  width: 80px;}
#responsive-datatable.tbody tr{font-size:12px; padding:10px; height: 20px !important; }
#responsive-datatable.tbody td{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 10px; width: 80px !important;}
#responsive-datatable tr{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 20px !important; text-overflow:ellipsis; }


#won-datatable{font-size:12px; padding:10px; margin: 0 auto;}
#won-datatable .btn{font-size:12px; padding: 2px; height:30px; border: 1px solid #e2e2e2;}
#won-datatable.thead th{padding: 2px; text-align: center;  font-size:11px !important;  width: 80px;}
#won-datatable.tbody tr{font-size:12px; padding:10px; height: 20px !important; }
#won-datatable.tbody td{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 10px; width: 80px !important;}
#won-datatable tr{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 20px !important; text-overflow:ellipsis; }

#dead-datatable{font-size:12px; padding:10px; margin: 0 auto;}
#dead-datatable .btn{font-size:12px; padding: 2px; height:30px; border: 1px solid #e2e2e2;}
#dead-datatable.thead th{padding: 2px; text-align: center;  font-size:11px !important;  width: 80px;}
#dead-datatable.tbody tr{font-size:12px; padding:10px; height: 20px !important; }
#dead-datatable.tbody td{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 10px; width: 80px !important;}
#dead-datatable tr{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 20px !important; text-overflow:ellipsis; }


#responsive-datatable_wrapper td{height: 20px !important; padding: 0px; word-wrap: break-word; text-overflow: ellipsis;}
#responsive-datatable_filter{float: right !important; margin-bottom: 5px; margin-left: 10px; font-size: 12px;}
#responsive-datatable_length {float:left; padding:2px; width:50px !important; margin-top: -10px; }
#responsive-datatable_length label{float:left; margin-left:5px; }
#responsive-datatable_length select{float:left; padding:2px; min-width: 100px; margin-left:5px; }

.dataTables_info{float:right; margin-top: -10px; font-size: 10px;}
.btn .buttons-html-5{padding: 2px !important;}
.dt-buttons, .button-group{float:left;}
.dtr-title{color:#43888c; width: 120px; font-size:12px;}
.dtr-data {color:#43888c; width: 100%; font-size:12px;} 
.btn { font-size:12px; padding: 5px !important;}

.btn-group span{font-size:12px;}
.child{background-color:#f9f7f7;}
.actbutt{padding: 10px;}


#formupdatexx{padding: 10px;  display: none; }
#leadalldata{padding: 10px;  display: none; }
#leadalldata ul li a{border: 1px solid #e2e2e2; padding: 10px;}

#campupdate{display:none;}
#prlupdate{display:none;}

@media screen and (max-width: 600px) {
.form-inline input[type=text]{ width: 98% !important;  padding: 3px; font-size: 11px;}
.form-inline select{width: 98% !important; padding: 3px; font-size: 11px;}
.form-inline textarea{width: 98%  !important; padding: 3px; font-size: 11px;}
}

#dispo_lead_status{padding:5px; width:auto; margin-top:5px;}
#leadalldata ul li a .active{background-color:red; font-weight: bold;}

#updatediv{padding: 10px; display:none; height: auto;}
#adddiv{padding: 10px;}
.innerdiv{}
.tab-pane{padding: 10px;}
.preloader{height: 100%;}


#timeline a.accordion-toggle {padding:8px; border: 1px solid #e2e2e2; background-color:#188ae2; }
#timeline .panel-group{padding: 5px; margin-bottom: 2px;}
#timeline .panel-title{padding: 5px; line-height: 18px; color:#fff; font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;}
#timeline .panel-body{border-bottom: 2px solid #e8e8e8; font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;}

#doclist {height: auto; width: 98%;border: 0px;}
#doclist p{font-family: Century Gothic; font-size: 12px; font-weight: italic; margin-top: 2px;}
#doclist li:nth-child(odd)
{ 
	padding-bottom: 2px;
	padding-left: 2px;
	padding-left: 10px;
    background-color: #F7F7F7; 
}

.img-with-text{text-align: justify; width: auto;margin-top: 5px;box-shadow: 10px 10px 5px grey; padding: 5px;}
.img-with-text img { display: block;margin: 0 auto;}
.img-with-text .caption { margin-top:2px; text-align: center; font-size: 8px; text-overflow: ellipsis;}
.btnclose{text-align: left;font-size: 14px; border-radius:2px; margin-top: 2px; color: #ff946d; }

#previewpane {}
.prevrow{height: auto; padding: 1px; margin-top: 2px; border-bottom: 1px solid #e2e2e2;}
.previewfield {height: auto; padding: 5px; margin:0px; overflow: hidden; text-overflow: ellipsis;  background-color: #fffaf4; font-size:11px;}
.previewitm {height: auto; padding: 5px; margin:0px; overflow: hidden; text-overflow: ellipsis; font-size:11px;}
/* remove 08202018 #docupreview {height: 300px; overflow-y:scroll; overflow-x:hidden; width: auto; text-overflow: hidden;} */
#docucontent {padding: 2px; text-overflow: hidden; font: 11px;	border-radius: 2px; font-size: 12px; background-color: #b2cfff; word-wrap: break-word; border:1px solid #e2e2e2;}
#doccontent { padding: 2px; word-wrap: break-word; background-color: #fff; font-family: "Century Gothic";}
#doccontent p{ word-wrap: break-word; margin-top:2px; margin-bottom: 2px;}

/* removed 08202018 #planpreview {height: 200px; overflow-y:scroll; overflow-x:hidden; width: auto; font-size: 10px;} */
/*
#newleadpreview {display:none;}
#newleadrender{padding: 10px;}
#frmlead_reuse{padding: 10px;}
#leadalldata .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background-color: #7468f2;color:#fff;}
*/

.isempty{background-color: #f9bb8b !important; border: 1px solid #e2e2e2;}
.ispass{background-color: #e0fcb5 !important; border: 1px solid #e2e2e2;}
.hot {background-color: #ff9696 !important; border: 1px solid #e2e2e2;}
.sun {background-color: #fffbb7 !important; border: 1px solid #e2e2e2;}
.sea{background-color: #59ABE3 !important; border: 1px solid #e2e2e2;}

.tdrw{height: 20px; width: 80px!important; overflow: hidden; text-overflow: ellipsis; text-align: center;  vertical-align: center;} 

#dashbidding{height: 300px; padding: 2px;}
#biddingtable th{width: 50px !important;}
#biddingtable tr{font-family: "Century Gothic"; font-size:11px !important; padding: 2px !important;}
#biddingtable td{padding: 2px !important; text-overflow: ellipsis !important; width: 50px; word-wrap: break-word;}

.contentholder{padding: 10px; border-radius: 0px; font-size: 12px; border: 1px solid #a3c6ff; background-color:	#f7faff; min-height: 100px !important; margint-top:5px;}

/* Adjust 08202018 */

.nav-tabs-horizontal .nav-tabs > li > a, .nav-tabs > li > a { padding:10px !important; }
select.form-control { height:28px !important; }
#won-datatable .btn, #dead-datatable .btn { padding:5px !important;height:28px; }

#engineerperfmon{}
#engineerperfmon thead tr{padding: 10px !important; text-align: center; border-bottom: 2px solid #e2e2e2; margin-bottom:20px;}
#engineerperfmon tbody tr:nth-child(even) {background-color: #f2f2f2; }
#engineerperfmon tbody td{padding: 3px; border-bottom: 1px dotted #e2e2e2;}

.callabacknotif{border: 1px solid #e2e2e2; padding: 10px; background-color:red; width: 520px !important; top: 50px !important; margin-top: 20px; !important;}
