
body{font-family: "Century Gothic";}

.widget-title h4{color: #fff !important;}
.form-control{padding: 10px; height: auto; border-radius:1px;}
.form-group {margin-top: 5px; margin-bottom: 5px; }
.col-md-3{height: 70px;}
.col-md-12{height: 150px;}
.form-group label{width: 150px; font-weight:bold; font-size: 11px; }
.form-group input[type=text]{ padding: 5px; font-size: 11px; }
.form-group input[type=date]{ padding: 5px;  line-height: 11px; font-size: 11px;}
.form-group select{padding: 5px; font-size: 11px;}
.form-group textarea{ padding: 5px; font-size: 11px; }
.additem { padding: 5px; margin-top: 5px; margin-right:30px; font-size:8px !important;}
.alert{display:none;}
.dialog{display:none;   background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.addnew{font-size:11px; padding: 2px;}
.modal-dialog{border-radius:0px; font-family: "Century Gothic";}
.modal-header{padding: 10px;}
.modal-body{padding: 20px;}

.modal-dialog input[type=text]{width: 100%; text-align:center;padding: 5px;}

#responsive-datatable{font-size:12px; padding:10px;}
#responsive-datatable .btn{font-size:12px; padding: 2px; height:30px;}
#responsive-datatable th{padding: 2px; text-align: left;  font-size:12px;  width: 80px;}
#responsive-datatable td{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 10px; width: 80px !important;}
#responsive-datatable tr{padding: 2px; text-align: left; font-size:11px; text-overflow: hidden; height: 20px; text-overflow:ellipsis; }

#responsive-datatable_filter{float: left; margin-bottom: 5px; margin-left: 10px;}
#responsive-datatable_length {float:left; padding:2px; width:50px !important; margin-top: -10px; }
#responsive-datatable_length label{float:left; margin-left:5px; }
#responsive-datatable_length select{float:left; padding:2px; min-width: 100px; margin-left:5px; }

.dataTables_info{float:right; margin-top: -10px; font-size: 10px;}
.btn .buttons-html-5{padding: 2px !important;}
.dt-buttons, .button-group{float:left;}
.dtr-title{color:#43888c; width: 120px; font-size:12px;}
.dtr-data {color:#43888c; width: 100%; font-size:12px;} 
.btn { font-size:12px; padding: 5px !important;}

.btn-group span{font-size:12px;}
.child{background-color:#f9f7f7;}



#formupdatexx{padding: 10px;  display: none; }
#leadalldata{padding: 10px;  display: none; }
#leadalldata ul li a{border: 1px solid #e2e2e2; padding: 10px;}

#campupdate{display:none;}

@media screen and (max-width: 600px) {
.form-inline input[type=text]{ width: 98% !important;  padding: 3px; font-size: 11px;}
.form-inline select{width: 98% !important; padding: 3px; font-size: 11px;}
.form-inline textarea{width: 98%  !important; padding: 3px; font-size: 11px;}
}

#dispo_lead_status{padding:5px; width:auto; margin-top:5px;}
#leadalldata ul li a .active{background-color:red; font-weight: bold;}

#updatediv{padding: 10px; display:none;}
#adddiv{padding: 10px;}
.innerdiv{padding: 10px;}
.tab-pane{padding: 10px;}

.preloader{height: 100%;}

#timeline a.accordion-toggle {padding:8px; border: 1px solid #e2e2e2; background-color:#188ae2; }
#timeline .panel-group{padding: 5px; margin-bottom: 2px;}
#timeline .panel-title{padding: 5px; line-height: 18px; color:#fff; font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;}
#timeline .panel-body{border-bottom: 2px solid #e8e8e8; Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;}






/*
#newleadpreview {display:none;}
#newleadrender{padding: 10px;}
#frmlead_reuse{padding: 10px;}



#leadalldata .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background-color: #7468f2;color:#fff;}
*/
